@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
/* Main CSS file */

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
    font-family:inherit;
    outline:none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
    background-color: #212838;
    color:#fff;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    overflow: hidden;
}
:root {
    --success:#00ffa2;
    --alert:#ff5400;
    --warning:#ffde00;
}
#root {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 300px calc(100% - 300px);
    grid-template-rows: 30px 100%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

main {
    padding:40px;
    grid-area: 2 / 2 / 3 / 4;
    width: calc(100% - 81px);
    height: calc(100vh - 80px);
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #2d3342 #2f3647;
}

.recharts-layer text {
    font-size:16px;
    font-weight:200;
    fill:#fff
}
.recharts-cartesian-axis-line, .recharts-cartesian-axis-tick-line {
    display:none
}

.nav {
    grid-area: 2 / 1 / 3 / 2;
}
  
main::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}
  
main::-webkit-scrollbar-track {
    background-color: #2f3647; /* Track color */
}
  
main::-webkit-scrollbar-thumb {
    background-color: #2d3342; /* Thumb color */
    border-radius: 3px; /* Rounded corners */
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
{
  border: 1px solid 0a0a0a;
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}
.form {
  margin: 50px 25px 25px;

  &--normalize {
    margin: 24px 0 0 0;
  }
  .input-container {
    position:relative;
    width: 100%;
    margin:0 0 40px;
    border-radius: 40px;
    background: #0a0a0a;
  }

  &__validation {
    position:relative;
  }

  &__icon {
    position: absolute;
    top: 50%;
    transform: translate(21px, -50%);
  }
  &__label {
    color: #fff;
    font-size: 16px;
    font-weight: 200;
    text-align: left;
    padding: 0 0 0 11px;
    transform: translate(0px, -62px);
    color:#fff;
    display: block;
    position: absolute;
    transition: 0.3s all ease;
    transform-origin: left;

   
  }

  &__input {
    width: 100%;
    outline: none;
    border-radius: 6px;
    background: transparent;
    color: #fff;
    background: #212838;
    font-size: 15px;
    font-weight: 300;
    border: 0;
    padding: 10px;
    z-index: 2000;
    position: relative;
    box-sizing: border-box;
    border: 1px solid #181d28;

    &--light {
      background:#2f3647;
    }

    &::placeholder {
      visibility:hidden;
    }
 
  }

  &__error{
    position: absolute;
    bottom: -16px;
    padding-right: 0;
    font-size: 11px;
    color: var(--alert);
    width: 100%;
    text-align: right;
    right: 0;

    &--centered {
      bottom: -20px;
      padding: 0;
      text-align: center;
    }
  }
  .submit {
    text-align:center;
  }
  button {
    background: var(--success);
    font-size: 15px;
    padding: 10px 15px;
    line-height: initial;
    border-radius: 6px;
    position: relative;
    font-weight: 500;
    border: 0;
    transition: 0.3s all ease;
    cursor: pointer;
    color:#171717;
    &:hover, &:focus, &:active {
      background:#00c57d;
      outline:0;
      transition: 0.3s all ease;
    }
  }
}